awscli==1.14.46
awscli-cwlogs==1.4.0
botocore==1.8.50
click==6.7
colorama==0.3.7
docutils==0.14
Jinja2==2.10
jmespath==0.9.3
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mkdocs-material==0.2.4
pyasn1==0.4.2
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
tornado==4.5.3
